PORT=3000
SMTP_HOST=smtp.ionos.de
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=kontakt@iqraa-akademie.de
SMTP_PASS=your_password_here
MAIL_FROM="Iqraa Akademie <kontakt@iqraa-akademie.de>"
MAIL_TO=kontakt@iqraa-akademie.de
